body {
    --primary-color: rgb(14, 14, 87);
    --secondary-color: white;
    --tertiary-color: rgb(244, 244, 248);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 50px 0;
    margin-bottom: 60px;
}

header, header h1 {
    font-size: xx-large;
    font-weight: bold;
}

main {
    min-height: calc(100vh - 260px);
}

section, footer {
    color: var(--primary-color)
}

section, section h2 {
    font-size: medium;
    font-weight: normal;
}

.card {
    margin: 20px;
}

.card-header {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-weight: bolder;
}

.card-header, .card-body {
    border: 1px var(--tertiary-color) solid;
}

footer {
    margin-top: 30px;
    border-top: 1px var(--tertiary-color) solid;
    padding: 30px;
}

footer, footer h2 {
    font-size: medium;
    font-weight: normal;
}
